<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        
     <bean id="CurrentAccount" class="com.bank.CurrentAccount" /> 
     
     <bean id="saveAccount" class="com.bank.SavingAccount">
     	      	   
     
       <bean id="class"
               class="com.bank.AccountAcct" scope="prototype"/>
       <property name="acct" ref="saveAccount" />
       </bean>      
     
</beans>